# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven / Gradle build folders
**/target/
**/build/

# Eclipse
*.classpath
*.project
*.settings/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
**/*.log

# Temporary files
*.tmp
*.swp
*.bak

# Spring Boot specific
*.jar
*.war

# Others
*.class
